<h4>Enter a word or phrase to determine if it's an anagram.</h4>
<form action='/result'>
  <div class="form-group">
    <label for="word1">First word or phrase</label>
    <input name="word1"  type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="word2">Second word or phrase</label>
    <input name="word2" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
